language: python

dist: trusty

matrix:
  include:
    - python: '3.4'
      env: TOXENV=py34-coverage
    - python: '3.5'
      env: TOXENV=py35-coverage
    - python: '3.6'
      env: TOXENV=py36-coverage
    - python: '3.6'
      env: TOXENV=pylama

install:
  - pip install tox coveralls

script:
  - tox

sudo: required

after_success:
  - coveralls
