# django-jsonfield currently incompatible with django-1.10
Django<1.11
django-bootstrap3
django-emoji
django-rest-swagger
django-picklefield
djangorestframework
django-annoying
django-prometheus
django-health-check
jsonfield

requests

jinja2

jira
