django
django-allauth
django-annoying
django-bootstrap-form
django-bootstrap3
django-emoji
django-fontawesome
django-gravatar2
django-health-check
django-picklefield
django-prometheus
django-rest-swagger
djangorestframework
jsonfield

requests

jinja2

pbr
jira
