{% extends 'bootstrap.html' %}

{% load bootstrap3 %}
{% load staticfiles %}
{% load account %}
{% load socialaccount %}
{% load fontawesome %}
{% load gravatar %}

{% block bootstrap3_extra_head %}

{% block extra_head %}
   {% fontawesome_stylesheet %}
  <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
  <link rel="shortcut icon" href="{% static 'favicon.ico' %}">
{% endblock %}
{{ super }}

{{ form.media }}
{% endblock %}


{% block bootstrap3_content %}

{% block navigation %}
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
	<span class="sr-only">Toggle navigation</span>
	<span class="icon-bar"></span>
	<span class="icon-bar"></span>
	<span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">{% fontawesome_icon 'exclamation-triangle' %} DefCon</a>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
      </ul>
      <ul class="nav navbar-nav navbar-right">
	    <li><a href="/api/">{% fontawesome_icon 'sitemap' %} API</a></li>
        <li><a href="/admin/">{% fontawesome_icon 'cogs' %} Admin</a></li>
          {% if user.is_authenticated %}
          {% get_social_accounts user as accounts %}
          <li><a href="{% url 'account_logout' %}">{% fontawesome_icon 'sign-out' %} Sign Out</a></li>
          <li>
              <a href="{% if user.socialaccount_set.all.0.get_profile_url %}{{ user.socialaccount_set.all.0.get_profile_url }}{% else %}#{% endif %}">
              {% if user.socialaccount_set.all.0.get_avatar_url %}
              <img class="img-circle img-responsive center-block" width="32" heigh="32" src="{{ user.socialaccount_set.all.0.get_avatar_url }}" alt="{{ user.get_full_name }}" />
              {% elif user.email %}
              {% gravatar user.email 32 user.get_full_name "img-circle img-responsive center-block" %}
              {% else %}
              {% user_display user %}
              {% endif %}
              </a>
          </li>
          {% else %}
          <li><a href="{% url 'account_login' %}">{% fontawesome_icon 'sign-in' %} Sign In</a></li>
          {% endif %}
      </ul>
    </div>
  </div>
</nav>
{% endblock %}

<div id="main" class="container{% if 'accounts' not in request.path %}-fluid{% endif %}">
  <main>
    {% block content %}
    {% endblock %}
  </main>
</div>

{% block extra_body %}
{% endblock %}


{% endblock %}


