{% extends 'base.html' %}

{% load bootstrap3 %}
{% load defcon %}
{% load fontawesome %}

{% block title %}DefCon{% endblock %}

{% block content %}
<div id="main">
  <header>
    <h1>{% fontawesome_icon 'exclamation-triangle' %} DefCon</h1>
  </header>
  <main>
    <div class="">
      {% for component in components %}
      <div class="col-defcon col-md-3">
        <div class="panel panel-{{ component.defcon|defcon_to_class }}">
          <div class="panel-heading">
	          <h3 class="panel-title">{{ component.name }}</h3>
          </div>
          <div class="panel-body">
	          <span class="label label-{{ component.defcon|defcon_to_class }} pull-right">
	            DefCon {{ component.defcon }} - {{ component.defcon|defcon_to_word }}
	          </span>
	          {% if component.descrition %}
	          <p>
	            Description:
	            {{ component.description }}
	          </p>
	          {% endif %}
	          <p>
	            View: <a href="{% url 'status' component.id %}">{{ component.name }}/</a>
	            {% if component.link %}
	            <br />
	            Link: <a href="{{ component.link }}">{{ component.link }}</a>
	            {% endif %}
	          </p>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </main>
</div>
{% endblock %}
