{% extends 'base.html' %}

{% load bootstrap3 %}
{% load defcon %}

{% block title %}DefCon{% endblock %}

{% block content %}
<div id="main">
  <header>
    <h1>DefCon</h1>
  </header>
  <main>
    {% for component in components %}
    <div class="panel panel-{{ component.defcon|defcon_to_class }}">
      <div class="panel-heading">
	<h3 class="panel-title">{{ component.name }}</h3>
      </div>
      <div class="panel-body">
	DefCon: <span class="badge">{{ component.defcon }}</span>
	{% if component.descrition %}
	<p>
	  Description:
	  {{ component.description }}
	</p>
	{% endif %}
	<p>
	  View: <a href="{% url 'status' component.id %}">{{ component.name }}/</a>
	  <span class="label label-danger">Danger</span>
	  {% if component.link %}
	  <br />
	  Link: <a href="{{ component.link }}">{{ component.link }}</a>
	  {% endif %}
	</p>
      </div>
    </div>
    {% endfor %}
  </main>
</div>
{% endblock %}

