{% extends 'base.html' %}

{% load bootstrap3 %}
{% load staticfiles %}

{% block title %}test{% endblock %}

{% block content %}
<div id="main">
  <header>
    <h1>Defcon</h1>
    <span>
      Current state of <strong id="perimeter">{{ component.name }}</strong> is:
    </span>
  </header>
  <main class="defcon-container">
    {% for dc, data in component.statuses %}
    <section class="defcon dc{{ dc }} {% if dc == component.defcon %}active{% endif %}">
      <a class="defcon more" href="#dc{{ dc }}-details">More</a>
      <ul>
	{% for plugin, statuses in data.items %}
	<hr/>
	<h3>{{ plugin.plugin.name }}</h3>
	<ul>
	  {% for status in statuses %}
	  <li>
	    {{ status.title }}:
	    <p>
	      {{ status.description|truncatewords:20 }}
	      {% if status.link %} - <a href="{{ status.link }}">link</a>{% endif %}
	    </p>
	  </li>
	  {% endfor %}
	</ul>
	{% endfor %}
      </ul>
    </section>
    {% endfor %}
  </main>
</div>
{% endblock %}

